.home__lodgings {
    width: 100%;
    margin: 70px 0;
    padding: 36px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #F7F7F7;
    border-radius: 25px;
    overflow: hidden;
}