.carrousel {
    height: 415px;
    width: 100%;
    position: relative;
}

.carrousel__active {
    height: 100%;
    width: 100%;
}

.carrousel__picture {
    object-fit: cover;
    mix-blend-mode: normal;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.carrousel__arrow {
    position: absolute;
    top: 42%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carrousel__next img, .carrousel__previous img {
    cursor: pointer;
}

@media screen and (max-width: 628px) {
    .carrousel {
        height: 255px;
    }
    .carrousel__picture {
        border-radius: 10px;
    }
    .carrousel__previous img, .carrousel__next img {
        width: 20px;
    }
}
