.lodging__content {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.lodging__title {
    font-size: 36px;
    color: #FF6060;;
}

.lodging__location {
    font-size: 18px;
    color: #FF6060;
    margin-bottom: 20px;
}

.lodging__tags {
    display: flex;
    flex-wrap: wrap;
}

.lodging__dropdowns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.lodging__collapse {
    width: 45%;
}

@media screen and (max-width: 628px) {
    .lodging__content {
        flex-direction: column;
    }
    .lodging__title {
        font-size: 18px;
    }
    .lodging__location {
        font-size: 14px;
    }
    .lodging__rating-and-host {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .lodging__dropdowns {
        flex-direction: column;
    }
    .lodging__collapse {
        width: 100%;
    }
}

@media screen and (max-width: 290px) {
    .lodging__tags {
        justify-content: center;
    }
    .lodging__rating-and-host {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}